/* ==========================
Mobile Hamburger Menu
========================== */


/* Hide hamburger icon on desktop */

.hamburger {

    display: none;

}



/* Mobile View */

@media screen and (max-width: 768px) {


    header {

        padding: 15px 20px;

    }



    /* Hide full navigation on mobile */

    nav {

        display: none;

    }



    /* Show hamburger icon */

    .hamburger {

        display: block;

        font-size: 35px;

        color: #D98CB3;

        cursor: pointer;

    }



    header img {

        width: 70px;

    }



    main {

        padding: 20px;

    }



    h1 {

        font-size: 28px;

    }


}
