/* ==========================
Media Styling
========================== */

.profile-image {

    width: 300px;
    max-width: 100%;
    height: auto;

    border: 3px solid #D98CB3;
    border-radius: 15px;

    padding: 5px;
    margin: 20px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.profile-image:hover {

    transform: scale(1.05);
    box-shadow: 0 0 10px gray;

}


.resume-video {

    width: 400px;
    max-width: 100%;

    border: 3px solid #B497D6;
    border-radius: 15px;

    padding: 5px;
    margin: 20px;

}


figure {

    margin: 30px auto;

}


figcaption {

    margin-top: 10px;
    font-style: italic;
    color: #5C4A5A;

}
